.timepicker {
    display: inline-block;
    width: 200px;
    margin: 0 15px;

    &.invalid {
        > .time_picker_container {
            border: 2px solid red;
        }
    }

    > .timepicker-label {
        font-size: 14pt;
        font-weight: bold;
        text-align: center;
    }

    > .time_picker_container {
        border: 2px solid black;
    }
}
